h1{
    color: blue;
}
#enterQueue{
    position: absolute;
    display: none;
    bottom: 50px;
    left: 40%;
}

#endGame{
    position: absolute;
    display: none;
    top: 30%; 
    left: 45%;
}

#endMess{
    font-size: 20px;
    font-weight: bold;
}
#move{
    position: absolute;
    left: 45%;
}
#time{
    position: absolute;
    left: 55%;
}